.mainView {
  &__gridContainer {
    height: 100dvh;
    display: flex;
  }

  &__leftPanel {
    height: 100%;
  }

  &__middlePanel {
    height: 100%;
    flex: 1 1 auto;
    scrollbar-color: rgba(255, 255, 255, 0.315) transparent;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  &__rightPanel {
    & > div {
      height: 100%;
    }
  }
}
