.box {
  max-height: 142px;
  height: 142px;

  &__card {
    height: 100%;
    cursor: pointer;

    &[data-active="true"] {
      transition: background-color 0.2s ease;
    }
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
