.editor {
  width: 100%;
  height: 100dvh;
  resize: none;
  color: #fff;
  border: none;
  outline: none;
  overflow-x: auto;
  padding-right: 24px;

  /* Color swatches */
  :global(.color) {
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.15);
    font-weight: normal;
    border-radius: 4px;
    font-size: 0.8em;
    color: #b3b3b3;
    font-family: monospace;
    height: 1.5em;
    display: inline-flex;
    align-items: center;
    padding: 0.25em;
    text-transform: uppercase;

    &::before {
      background-color: var(--color);
      border: 1px solid rgba(128, 128, 128, 0.3);
      border-radius: 2px;
      content: " ";
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.25em;
      width: 1em;
      height: 1em;
    }
  }

  pre {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      padding: 0;
    }

    :global(.hljs-comment),
    :global(.hljs-quote) {
      color: #616161;
    }

    :global(.hljs-variable),
    :global(.hljs-template-variable),
    :global(.hljs-attribute),
    :global(.hljs-tag),
    :global(.hljs-regexp),
    :global(.hljs-link),
    :global(.hljs-name),
    :global(.hljs-selector-id),
    :global(.hljs-selector-class) {
      color: #f98181;
    }

    :global(.hljs-number),
    :global(.hljs-meta),
    :global(.hljs-built_in),
    :global(.hljs-builtin-name),
    :global(.hljs-literal),
    :global(.hljs-type),
    :global(.hljs-params) {
      color: #fbbc88;
    }

    :global(.hljs-string),
    :global(.hljs-symbol),
    :global(.hljs-bullet) {
      color: #b9f18d;
    }

    :global(.hljs-title),
    :global(.hljs-section) {
      color: #faf594;
    }

    :global(.hljs-keyword),
    :global(.hljs-selector-tag) {
      color: #70cff8;
    }

    :global(.hljs-emphasis) {
      font-style: italic;
    }

    :global(.hljs-strong) {
      font-weight: 700;
    }
  }
}
