.editor {
  width: 100%;
  height: 100dvh;
  resize: none;
  color: #fff;
  border: none;
  outline: none;
  overflow-x: auto;
  padding-right: 24px;

  /* Color swatches */
  :global(.color) {
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.5);
    font-weight: normal;
    border-radius: 4px;
    font-size: 0.8em;
    color: #b3b3b3;
    font-family: monospace;
    height: 1.5em;
    display: inline-flex;
    align-items: center;
    padding: 0.25em;
    text-transform: uppercase;

    &::before {
      background-color: var(--color);
      border: 1px solid rgba(128, 128, 128, 0.3);
      border-radius: 2px;
      content: " ";
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.25em;
      width: 1em;
      height: 1em;
    }
  }
}
